@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;600;800;900&display=swap');

*{
    --cor0: #283b45;
    --cor1: #366370;
    --cor2: #c2c7bf;
    --cor3: #f4eee5;

    --fonte-padrao: 'Merriweather', serif;
    --fonte-destaque: 'Sofia Sans', sans-serif;
}

body{
    background-color: var(--cor2);
    color: black;
    font-family: var(--fonte-padrao);
    line-height: 1.5em;
}

header{
    font-weight: bold;
    max-width: 100%;
}
header .informacoes-empresa{
    background-color: var(--cor3);
    display: flex;
    justify-content: space-between;
}
header h1{
    margin: auto;
    padding: 0 20px;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    line-height: 1em;
}
header > .informacoes-empresa > a{
    float: left;
    margin: auto 10px auto 0;

}
header img{
    width: 150px;
    max-height: 100px;
}

nav{
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: var(--cor0);
    font-weight: bold;
}
nav a{
    color: white;
    margin: 15px;
    
}
nav a:hover{
    text-decoration: underline;
}
main{
    max-width: 1080px;
    margin: auto;
    background-color: white;
}
main  h2{
    color: var(--cor1);
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    font-family: var(--fonte-destaque);
}
main .foto-destaque{
    max-width: 100%;
}
main > p{
    text-align: center;
    padding: 10px;
}
main #quartos .icone-quartos{
    display: flex;
    max-width: 1440px;
}
main #quartos .bloco-quartos{
    display: block;
    max-width: 320px;
    min-width: 170px;
    width: auto;
    background-color: var(--cor1);
    margin: 20px;
    border-radius: 10px;
    color: lightgrey;
}
main #quartos .bloco-quartos h3{
    color: white;
    padding: 5px;
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    text-decoration: underline;
}
main #quartos .bloco-quartos img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}
main #quartos .bloco-quartos .descricao{
    max-width: 320px;
    padding: 5px 10px 10px 10px;   
    text-align: justify;
    font-size: 0.6em; 
}
main #quartos .bloco-quartos .preco-reserva{
    color: white;
    font-weight: bold;
    font-family: var(--fonte-destaque);
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    font-size: 0.8em;
}
main #quartos .bloco-quartos button{
    background-color: green;
    color: white;
    font-weight: bold;
    font-family: var(--fonte-destaque);
    border: none;
    border-radius: 10px;
    padding: 5px;
}
main #eventos .desc-evento{
    display: flex;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.356);
}
main #eventos .desc-evento p{
    width: 30%;
    margin: auto 0 auto 5px;
}
main #eventos .desc-evento img{
    width: 70%;
    height: 200px;
}
main #galeria img{
    width: 100%;
    max-height: 600px;
}
main #localizacao iframe{
    width: 100%;
}
footer{
    width: 100%;
    background-color: var(--cor0);
    margin-top: 30px;
    padding: 20px;
    color: white;
    font-weight: bold;
    display: flex;
}
footer .endereco-e-afins{
    width: 50%;
    margin-right: 10px;
    padding-right: 20px;
    border-right: 1px solid white;
}
footer .contatos{
    width: 50%;
    padding-right: 20px;
}

/*CSS paginaQuarto.html*/

main #quarto .conteudo-quarto{
    display: flex;
    background-color: var(--cor3);
}
main #quarto .conteudo-quarto #descricao{
    width: 40%;
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
}
main #quarto .conteudo-quarto img{
    width: 40%;
    height: 400px;
}
main #quarto .conteudo-quarto .detalhes-quarto{
    width: 20%;
}
main #quarto .conteudo-quarto .detalhes-quarto input[type=submit],input[type=number],input[type=date]{
    margin: 0 0 10px 0;
}
main #quarto .conteudo-quarto .detalhes-quarto input[type=submit],button{
    display: block;
    color: white;
    width: 80%;
    font-family: var(--fonte-destaque);
    font-weight: bold;
    font-size: 1.3em;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    background-color: green;
} 
main #quarto .conteudo-quarto .detalhes-quarto input[type=date]{
    width: 173px;
}


